<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBJHjR-bqjCRlrhA5p6dfZYMMSTOK5QKeA</string>
	<key>GCM_SENDER_ID</key>
	<string>730492801556</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.prodeye</string>
	<key>PROJECT_ID</key>
	<string>prodeye-app-yassine</string>
	<key>STORAGE_BUCKET</key>
	<string>prodeye-app-yassine.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:730492801556:ios:a917fa40479829c93ecd01</string>
</dict>
</plist>
